.root {
	position: relative;
 	cursor: pointer;
	margin: 10px;
	padding: 0 10px;
	border: 1px solid #007ac3;
	width: 300px;
	text-align: center;
	background-color: #007ac3;
}

.root:hover {
	border: 1px solid black;
}

.root:hover .obtained {
	display: block;
}

.adjusters {
	padding: 5px 10px;
	display: flex;
	justify-content: center;
	user-select: none;
}

.adjusters .item {
	font-size: 32px;
	padding: 5px 20px;
	vertical-align: bottom;
}

.effect {
	width: 280px;
}

.icon {
	padding: 10px;
}

.traitName {
	font-size: 32px;
	padding: 10px 10px 0 10px;
}

.obtained {
	display: none;
	border: 1px solid black;
	padding: 10px;
	width: 300px;
	position: absolute;
	top: 100%;
	left: -1px;
	color: black;
	background-color: white;
	z-index: 1;
	box-shadow: 3px 3px 3px 0px rgba(0,0,0,0.75);
	pointer-events: none;
}
