.root {

}

.availableTalents {
	position: fixed;
	top: 0;
	right: 0;
	padding: 10px;
	z-index: 3;
	background-color: black;
}

.talentList {
	padding: 10px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
}
