.root {
 	cursor: pointer;
	padding: 10px;
}

.root:hover {
	border: 1px solid black;
}

.root:hover .obtained {
	display: block;
}

.obtained {
	display: none;
	border: 1px solid black;
	padding: 10px;
}
